body {
    background-color: white;
    font-size: 18px;
}
#content {
    max-width: 40%;
    border: 1px solid #000;
    margin: 0 auto;
    padding: 60px 200px;
}
#subheader {
    text-align: center;
    font-size: 1.05em;
    color: #4f94d4;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 60px;
}
h1 {
    text-align: center;
    font-weight: 400;
    font-size: 3em;
}
ol {
    line-height: 2em;
}
#italics {
    font-style: italic;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-top: 20px;
}
