body {
    background-color: #ddd;
    font-size: 22px;
}
#content {
    max-width: 60%;
    border: 1px solid #000;
    margin: 0 auto;
    padding: 50px;
}
p {
    color: #035f9c;
    font-size: 1.2em;
}
hr {
    height: 2px;
    background-color: #035f9c;
    width: 80%;
}
h1, h2, p{
    text-align: center;
}
#logos {
    text-align: center;
}
img {
    width: 50%;
}
#topics {
    line-height: 1.5em;
    margin: 0 auto;
}

