/* Mobile first design

Looks good on a phone.
Make a media query for desktop.
*/

div {
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 15px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Media query for large screens. */
/* This will only apply if the screen is at least 768px wide. */

@media screen and (min-width: 768px) {
    body {
        flex-direction: row;
        justify-content: center;
        gap: 10%;
    }

    div {
        height: 300px;
        width: 300px;
        background-color: red;
    }
}